<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if lte IE 10]>
    <script src="/js/media.match.min.js"></script>
    <![endif]-->
    <script src="/js/font_sz5hc3n8p1f6flxr.js"></script>
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/interact.js/1.2.8/interact.min.js"></script>-->
    <script type="text/javascript">
        window.LOG_LEVEL = 'info'
        window.DS = {
            API_URL: '/api/v2',
            WS_URL : '/wss',
            MYSQL_MEM : ["1G", "2G", "4G", "8G", "10G", "16G"],
            TAG : ['chunkkeeper', 'zookeeper', 'gateway', 'db', 'other'],
        }
    </script>
</head>

<body style="background-color: #e8eaee">
<div id="root" style="height: 100%"></div>
</body>

</html>
